<h1 class="container bg-dark text-white text-center my-4 py-4">ngIf show = {{ show }}</h1>
<div class="container">
    
    <button class="btn btn-warning" (click) = "show=!show">Acción</button>

    <p class="text-info" *ngIf="show; else showDos">       
       Texto info
    </p>

    <ng-template #showDos>
        <p class="text-danger"> 
            Texto Danger
            <input type="text" name="valor">
        </p>
    </ng-template>

    <div class="text-danger">
        <p class="text-danger"> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, facilis saepe recusandae deserunt exercitationem culpa ipsam hic neque molestiae amet animi odit ea impedit aperiam, voluptas pariatur eveniet fugit laborum?
        </p>
    </div>

    <input type="checkbox" (click) = "texto=!texto" selected> 
    <p class="text-body" *ngIf = "texto">       
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptas quisquam inventore tempora provident dolorem facilis repellendus aliquid, excepturi officiis id, praesentium aut quae quibusdam dolores, unde voluptatem animi dolorum?        
    </p>


</div>


<h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]</h1>
<div class="container">
    
    <button class="btn btn-dark mb-3" (click) = "activo = 'primero'"> Primero </button>
    <button class="btn btn-danger mb-3" (click) = "activo = 'segundo'"> Segundo </button>

    <p class="text-info d-none" [ngClass]="{ 'd-block': activo == 'primero' }">       
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam commodi dignissimos delectus, numquam sit nobis eligendi reiciendis, consectetur error, placeat explicabo repudiandae suscipit? Dolores sunt sed praesentium quos laudantium.
    </p>

    <p class="text-danger d-none" [ngClass]="{ 'd-block': activo == 'segundo' }">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus temporibus nam nobis dignissimos corporis, ipsa tempora vitae quia dolor iusto ab veritatis iure provident laboriosam dicta et odio error impedit.
    </p>


</div>